<h1 class="h2 mb-3 fw-normal">Your Blog Posts:</h1>

{{#each usersPosts.post_creator}}
  <div class="card postid-{{id}}" id="dashboard-main" style="width: 50rem;">
  <div class="card-body" data-postid={{id}}>
    <h5 class="card-title blog-title-{{id}}" contenteditable="true">{{blogContent}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Created on {{formatTime createdAt}}</h6>
    <button type="button" class="btn-primary update-post" data-postid="{{id}}">Update</button>
    <button type="button" class="btn-primary delete-post" data-postid="{{id}}">Delete</button>
    <p class="my-1" style="font-size: 10px;">Tip: Click on the comment text to edit, then click update.</p>
  </div>
  </div>
{{/each}}